.contact-banner-gastronomic {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.contact-contain-gastronomic {
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.hr-title {
    width: 80px;
    border-top: 2px solid rgb(165, 3, 3);
}

.contact-title-gastronomic {
    background-color: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
}

.contact-container-gastronomic {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    height: 500px;
    margin-top: 80px;
}

.restaurant-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 1;
}

.restaurant-info h2 {
    margin-bottom: 10px;
    color: #333;
    margin-top: 10px;
}

.restaurant-info p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
    width: 100%;
}

.contact-form-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 20px;
    border-radius: 8px;
}

.contact-form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

.contact-form textarea {
    height: 100px;
    resize: none;
}

.contact-form button {
    padding: 10px 20px;
    background-color: rgb(94, 14, 14);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 150px;
}

.contact-form button:hover {
    background-color: rgb(59, 2, 2);
}

.form-result {
    margin-top: 15px;
    font-size: 14px;
    color: green;
    text-align: center;
}

@media (max-width: 540px) {
    .contact-banner-gastronomic {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .contact-contain-gastronomic {
        width: 100%;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80px;

    }

    .contact-title-gastronomic {
        background-color: #f4f4f4;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-transform: capitalize;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }

    .contact-container-gastronomic {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex: 1;
    }

    .restaurant-info h2 {
        margin-bottom: 10px;
        color: #333;
        margin-top: 15px;
    }

    .restaurant-info p {
        margin-bottom: 10px;
        font-size: 13px;
        color: #555;
        width: 100%;
    }

    .contact-form {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
    }

    .contact-form input,
    .contact-form textarea {
        width: 250px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
    }

    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex: 1;
        margin-left: 10%;
        margin-right: 10%;
    }

    .restaurant-info h2 {
        font-size: 20px;
    }
}

@media (min-width: 541px) and (max-width:768px) {
    .contact-banner-gastronomic {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .contact-contain-gastronomic {

        width: 100%;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80px;
    }

    .contact-title-gastronomic {
        background-color: #f4f4f4;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-transform: capitalize;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }

    .contact-container-gastronomic {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex: 1;
    }

    .restaurant-info h2 {
        margin-bottom: 10px;
        color: #333;
    }

    .restaurant-info p {
        margin-bottom: 10px;
        font-size: 13px;
        color: #555;
        width: 100%;

    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .contact-form input,
    .contact-form textarea {
        width: 250px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
    }

    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex: 1;
        margin-left: 10%;
        margin-right: 10%;
    }

    .restaurant-info h2 {
        font-size: 20px;

    }

}

@media (min-width: 769px) and (max-width:1024px) {
    .contact-banner-gastronomic {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .contact-contain-gastronomic {

        width: 100%;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80px;
    }

    .contact-title-gastronomic {
        background-color: #f4f4f4;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-transform: capitalize;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }

    .contact-container-gastronomic {
        width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        margin-top: 70px;
    }

    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex: 1;
    }

    .restaurant-info h2 {
        margin-bottom: 10px;
        color: #333;
        margin-top: 15px;
    }

    .restaurant-info p {
        margin-bottom: 10px;
        font-size: 13px;
        color: #555;
        width: 100%;

    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }

    .contact-form input,
    .contact-form textarea {
        width: 300px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
    }

    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        flex: 1;
    }

    .restaurant-info h2 {
        font-size: 20px;
    }

    .contact-form textarea {
        height: 60px;
        resize: none;
    }

}

@media (min-width: 1025px) and (max-width:1440px) {

    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: #ffffff;
    }

    .contact-container-gastronomic {
        width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: self-start;
        height: 500px;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 80px;
    }

}