@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.navbar-gastronomic {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(65, 10, 10, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.3s ease;
    backdrop-filter: none;
}

.buttons-navbar-gastronomic {
    width: 150px;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: rgba(31, 22, 22, 0);
    font-weight: 600;
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.3s ease, background-color 0.3s ease;
    backdrop-filter: none;
    display: inline-block;
}

.buttons-navbar-gastronomic span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.buttons-navbar-gastronomic:hover span {
    transform: translateY(5px);
}

.navbar-group-gastronomic {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: antiquewhite;
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar-gastronomic {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgba(65, 10, 10, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        transition: background-color 0.3s ease;
        backdrop-filter: none;
    }

    .navbar-group-gastronomic {
        justify-content: space-between;
        padding: 0 20px;
        height: 70px;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgba(64, 64, 64, 0.9);
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
    }

    .nav-links.open {
        display: flex;
    }

    .buttons-navbar-gastronomic {
        width: 100%;
        padding: 15px 0;
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}